/*My custom css*/

.img-preview-wrap {
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.img-preview-wrap > img {
    width: 100%;
}

.img-preview-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.img-preview-wrap:hover .overlay {
    opacity: 1;
}

.img-preview-wrap .overlay .context {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.loader {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.loader .overlay {
    position: absolute;
    z-index: 2300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: white;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.loader.is-loading > .overlay {
    display: block;
}

.loader .overlay .context {
    position: absolute;
    z-index: 2301;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.text-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
